
  .message_container {
      display: flex;
      flex-direction: row;
      padding-top: 5px;
      padding-bottom: 5px;
      justify-content: center;
  }

  .avatar {
      width: 40px;
      height: 40px;
      flex-basis: 40px;
      flex-shrink: 0;
      background-color: #3A61BF;

      display: flex;
      justify-content: center;
      align-items: center;

      color: #FFFFFF;

      border-radius: 50%;
  }

  .avatar > img {
      width: 40px;
      height: 40px;

      border-radius: 50%;
  }

  .likes {
      width: 30px;
      height: 30px;
      flex-basis: 30px;
      flex-shrink: 0;

      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      font-size: 10px;
      color: #bbb;
  }

  .likes > img {
      max-width: 70%;
      max-height: 70%;

      align-self: center;
  }

  .message_box {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: 10px;
      margin-right: 10px;
  }

  .message {
      white-space: pre-line;
      overflow-wrap: break-word;
      word-break: break-word;
  }

  .message > img {
      max-width: 400px;
      max-height: 400px;
  }

  .message > video {
      max-width: 400px;
      max-height: 400px;
  }

  .system_message {
      width: 80%;

      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: #666666;
  }

  .user {
      color: #555555;
      font-size: 14px;
  }

  #container {
      width: 768px;
  }

  body {
      background-color: #eeeeee;
      display: flex;
      flex-direction: row;
      justify-content: center;

      font-family: 'Open Sans', sans-serif;
  }

  /* Tooltip container */
  .tooltip {
      position: relative;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;

      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;

      width: 120px;
      top: 100%;
      left: 30%;
      margin-left: -60px;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
      visibility: visible;
  }

  .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      bottom: 100%;  /* At the top of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent black transparent;
  }
